
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

:root{
    --yellow:hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
 --gray950: hsl(0, 0%, 7%);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    
    margin-bottom: 12px;
}
a{
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 12px;
    color: black;

}
a:hover{
    color: var(--yellow);
}
body{
    
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
    background-color: var(--white);
    width: 384px;
    height: 522px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 8px 8px 0px 0px #000;
    border:solid black 1px;
}
img{
    border-radius: 10px;
    margin-bottom:24px;
}
span{
    font-size: 1.4rem;
    padding: .4rem 1.2rem;
    border-radius: 4px;
    background-color: var(--yellow);
    font-weight: 800;
   
    
}
.date{
    margin: 12px 0px;
    color: var(--gray950);
    font-size: 1.4rem;
    font-weight: 500;
}

.content{
    font-size: 1.6rem;
    color: var(--gray500);
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 24px;
    
}
.footer{
    display: flex;
    align-items: center;
    gap: 5.5px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 24px;
    
    
    
}
.footer-text{
   font-size: 1.4rem;

}
.footer  img{
    
    width: 32px;
    height: 32px;
    margin-bottom: 0px;
}
